{
  "project_info": {
    "project_number": "example",
    "project_id": "example",
    "storage_bucket": "example.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:example:android:example",
        "android_client_info": {
          "package_name": "example"
        }
      },
      "oauth_client": [
        {
          "client_id": "example-example.apps.example.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "example"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "example-example.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}